@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-sans bg-bg text-primary;
  }
}

.partner-logos-scroll::-webkit-scrollbar {
  display: none;
}
